
// Font vars
$icons-font-family: 'icons' !default;;
$icons-font-path: 'fonts/icomoon$eot?4cr9p7' !default;

$icon-linkedin: '\e904';
$icon-search: '\e902';
$icon-next: '\e900';
$icon-before: '\e901';
$icon-vue: '\e909'; 
$icon-adobexd: '\e90d';
$icon-adobephotoshop: '\e90e'; 
$icon-adobeillustrator: '\e90f'; 
$icon-react: '\e90c'; 
$icon-mysql: '\e90b'; 
$icon-javascript: '\e905'; 
$icon-wordpress: '\e906'; 
$icon-css: '\e907'; 
$icon-html5: '\e908'; 
$icon-php: '\e90a'; 
$icon-github: '\e903';