.hero {
    &__wrapper {
        background-color: #000;
        width: 100%;
        min-height: 600px;
        margin-top: 134px;
        color: #fff;
    }

    &__title {
        top: calc(50% + 134px);
    }

    &__subtitle {
        font-weight: 300;
    }
}