section {
    max-width: 1140px;
    margin: auto;
    padding: 50px 100px;
    text-align: left;

    p {
        font-size: 20px;
    }

    h1 {
        background-color: var(--color-red);
        display: inline-block;
        margin: 0;
        padding: 15px 32px;
        color: #fff;
    }
}